:root{ 
    --fontLogo: "Ojuju", sans-serif;
    --fontHead: "Cormorant Garamond", serif;
    --fontBody: "Roboto", sans-serif;
    --boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --transition: all 0.5s ease-in;
    --border: 1px solid #ccc;
    --white: #f9f9f9;
    --black: #070517;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--fontBody);
}

@media screen and (max-width:780px){
    html{
        font-size: 59%;
    }
}

@media screen and (max-width:480px){
    html{
        font-size: 50%;
    }
}
